USE [master]
GO
/****** Object:  Database [School_Technology]    Script Date: 07/05/2021 2:04:47 ******/
CREATE DATABASE [School_Technology]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School_Technology', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\School_Technology.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_Technology_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\School_Technology_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School_Technology].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School_Technology]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 07/05/2021 2:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_cliente] [char](50) NOT NULL,
	[Apellido_cliente] [char](100) NULL,
	[Edad] [char](50) NULL,
	[Direccion] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 07/05/2021 2:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Nombre_empleado] [char](100) NOT NULL,
	[Apellido_empleado] [char](100) NOT NULL,
	[Edad] [int] NULL,
	[Posicion] [char](100) NULL,
	[Activo] [bit] NULL,
	[Sueldo] [money] NULL,
	[Id_empleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 07/05/2021 2:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_producto] [char](50) NULL,
	[Precio] [money] NULL,
	[Descripcion_producto] [char](50) NULL,
	[Disponibilidad] [bit] NULL,
	[Id_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_rentado]    Script Date: 07/05/2021 2:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_rentado](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_producto] [char](100) NULL,
	[Fecha_contrato] [date] NULL,
	[Activo] [bit] NULL,
	[Id_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Software]    Script Date: 07/05/2021 2:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Software](
	[Id_Software] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Software] [char](100) NULL,
	[Precio] [money] NULL,
	[Disponibilidad] [bit] NULL,
	[Descripcion_software] [char](100) NULL,
	[Id_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Software] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID_Cliente], [Nombre_cliente], [Apellido_cliente], [Edad], [Direccion]) VALUES (1, N'Rafael                                            ', N'Peña                                                                                                ', N'25                                                ', N'C/5 #38, libertador de Herrera                    ')
INSERT [dbo].[Clientes] ([ID_Cliente], [Nombre_cliente], [Apellido_cliente], [Edad], [Direccion]) VALUES (2, N'Josefina                                          ', N'Acosta                                                                                              ', N'36                                                ', N'Manzana 15 Las caobas                             ')
INSERT [dbo].[Clientes] ([ID_Cliente], [Nombre_cliente], [Apellido_cliente], [Edad], [Direccion]) VALUES (3, N'Antonio                                           ', N'Ramirez                                                                                             ', N'45                                                ', N'Naco edificio roman c/6                           ')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
INSERT [dbo].[Empleado] ([Nombre_empleado], [Apellido_empleado], [Edad], [Posicion], [Activo], [Sueldo], [Id_empleado]) VALUES (N'Wilfredo                                                                                            ', N'Vasquez                                                                                             ', 27, N'Gerente general                                                                                     ', 1, 110000.0000, 123)
INSERT [dbo].[Empleado] ([Nombre_empleado], [Apellido_empleado], [Edad], [Posicion], [Activo], [Sueldo], [Id_empleado]) VALUES (N'Wilkin                                                                                              ', N'Rivas                                                                                               ', 29, N'Sub-Gerente                                                                                         ', 1, 97000.0000, 124)
INSERT [dbo].[Empleado] ([Nombre_empleado], [Apellido_empleado], [Edad], [Posicion], [Activo], [Sueldo], [Id_empleado]) VALUES (N'Steven                                                                                              ', N'Ramirez                                                                                             ', 28, N'Gerente de calidad                                                                                  ', 1, 180000.0000, 125)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id_producto], [Nombre_producto], [Precio], [Descripcion_producto], [Disponibilidad], [Id_cliente]) VALUES (1, N'Dell 755                                          ', 6000.0000, N'Computadora                                       ', 1, 1)
INSERT [dbo].[Producto] ([Id_producto], [Nombre_producto], [Precio], [Descripcion_producto], [Disponibilidad], [Id_cliente]) VALUES (2, N'Lenovo A520                                       ', 6000.0000, N'Computadora                                       ', 1, 3)
INSERT [dbo].[Producto] ([Id_producto], [Nombre_producto], [Precio], [Descripcion_producto], [Disponibilidad], [Id_cliente]) VALUES (3, N'Dell 620                                          ', 6000.0000, N'Computadora                                       ', 1, 1002)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto_rentado] ON 

INSERT [dbo].[Producto_rentado] ([Id_Producto], [Nombre_producto], [Fecha_contrato], [Activo], [Id_cliente]) VALUES (1, N'Dell 755                                                                                            ', CAST(N'2020-04-25' AS Date), 1, 2)
INSERT [dbo].[Producto_rentado] ([Id_Producto], [Nombre_producto], [Fecha_contrato], [Activo], [Id_cliente]) VALUES (2, N'Dell 620                                                                                            ', CAST(N'2018-06-15' AS Date), 1, 4)
INSERT [dbo].[Producto_rentado] ([Id_Producto], [Nombre_producto], [Fecha_contrato], [Activo], [Id_cliente]) VALUES (3, N'Lenovo A520                                                                                         ', CAST(N'2012-01-27' AS Date), 1, 5)
SET IDENTITY_INSERT [dbo].[Producto_rentado] OFF
GO
SET IDENTITY_INSERT [dbo].[Software] ON 

INSERT [dbo].[Software] ([Id_Software], [Nombre_Software], [Precio], [Disponibilidad], [Descripcion_software], [Id_cliente]) VALUES (1, N'School_Visual                                                                                       ', 50000.0000, 1, N'Supervision a los profesores                                                                        ', NULL)
INSERT [dbo].[Software] ([Id_Software], [Nombre_Software], [Precio], [Disponibilidad], [Descripcion_software], [Id_cliente]) VALUES (2, N'School_accounting                                                                                   ', 50000.0000, 1, N'Contabilidad                                                                                        ', NULL)
INSERT [dbo].[Software] ([Id_Software], [Nombre_Software], [Precio], [Disponibilidad], [Descripcion_software], [Id_cliente]) VALUES (3, N'Learn_platform                                                                                      ', 50000.0000, 1, N'Plataforma de estudiante                                                                            ', NULL)
SET IDENTITY_INSERT [dbo].[Software] OFF
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Producto_rentado]  WITH CHECK ADD FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Software]  WITH CHECK ADD FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([ID_Cliente])
GO
USE [master]
GO
